/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 6rem;
    padding-bottom: 4rem;
    color: white;
    background-color: #1F2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0 0 .5rem 0;
    padding: 0;
    font-size: xx-large;
}

button {
    margin: 0;
    padding: .5rem 2rem;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #3882F6;
}


ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.hero {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.hero-article>
p {
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.hero-img {
    width: 400px;
    object-fit: contain;
}


.random-info>h1 {
    margin: 4rem 0;
    font-size: 3rem;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}


.ff-images {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.fun-fact {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 2px solid orange;
}

blockquote {
    padding: 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
}

.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 4rem auto;
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #3882F6;
}

.callToAction button {
    color: white;
    padding: .5rem 2rem;
    border: 2px solid white;
}

footer{
    padding: 4rem;
    color: white;
    text-align: center;
    background-color: #1F2937;;
}